.section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}
.section .container {
  position: relative;
  z-index: 1;
}
.section-top {
  padding-top: calc(5rem + 5.8125rem);
}
@media (min-width: 768px) {
  .section-top {
    padding-top: calc(7.5rem + 5.8125rem);
  }
}
@media (min-width: 768px) {
  .section-full .container > .row {
    min-height: calc(100vh - 7.5rem * 2);
  }
  .section-full .container > .row:before {
    content: '';
    min-height: inherit;
  }
  .section-full.section-top > .container > .row {
    min-height: calc(100vh - 7.5rem * 2 - 5.8125rem);
  }
}
